{% extends "blog/base.html" %}
{% block content %}
    <h1>Django Blog V 1.0.0</h1>
    <h3>Features include:</h3>
    <ul class="list-group">
        <li class="list-group-item">Login/Signup</li>
        <li class="list-group-item">Password Reset through email</li>
        <li class="list-group-item">Profile Image Upload (resized automatically)</li>
        <li class="list-group-item">Profile update</li>
        <li class="list-group-item">Paginated pages</li>
        <li class="list-group-item">CRUD blogs</li>
      </ul>
{% endblock content %}